.solarSystem{
    display: grid;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    padding: 250px;
}

.sun{
    width: 60px;
    height: 60px;
    background: radial-gradient(circle, #FFEF00 50%, #ffd000 70%,#ffc400 50%); 
    border: none;
    outline: none;
    box-shadow: 0px 0px 50px 20px orange;
    border-radius: 50%;
}

.mars .orbit{
    background-color: transparent;
    border: 5px solid grey;
    width: 160px;
    /* position: absolute; */
    border-radius: 50%;
    height: 160px;
}

.mars .planet{
    background-color: orangered;
    /* border: 5px solid grey; */
    width: 40px;
    /* position: absolute; */
    border-radius: 50%;
    height: 40px;
}