.Footer{
    height: 50vh;
    width: 100%;
    background-color: rgb(87, 86, 86);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.Footer svg{
    height: 5vh;
    width: 5vh;
cursor: pointer;
}